:root
{
    --clr-neutral-100: rgba(141, 141, 141, 0.54);
    --clr-neutral-200: #BBBBBB;
    --clr-neutral-400: #3F4E4F;
    --clr-neutral-600: #2C3639;
    --clr-neutral-800: rgba(31, 31, 31, 0.86);
}