.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--clr-neutral-600);
    border-radius: 20px;

    height: 15vh;

    background-image: url(cff.png), url(42.png);
    background-size: 50% auto, auto 80%;
    background-repeat: no-repeat, no-repeat;
    background-position: 5% 50%, 95% 50%;

}
